:root {
  /* background */
  --bg-app: #f5f9ff;
  --bg-card: #ffffff;
  --bg-muted: #edf3f8;

  /* text */
  --text-primary: #2e2e2e;
  --text-secondary: #ffffff;
  --text-muted: #a3a3a3;

  /* accents */
  --accent-primary: #5da9e9;
  --accent-primary-hover: #6e7b5e;

  --accent-secondary: #a9f1b4;
  --accent-secondary-hover: #526273;

  --accent-danger: #f28b82;
  --accent-danger-hover: #ad5f42;
}
