.task-item {
  border-bottom: 1px solid var(-bg-muted);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item input {
  margin: 0;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  accent-color: var(--accent-secondary);
}

.task-item__checkbox-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.task-items__btns-wrapper {
  display: flex;
  gap: 5px;
}
